// .container-popup{
//     position: relative;
//     display: flex;
// }

// .popup-content{
//     font-size: 50px;
//     // margin-bottom: 10em;
//     margin-top: -25px;
// }

// .num-button{
//     display: flex;
//     // align-items: center;
//     justify-content: center;
//     margin: 15px 0 15px 0;
// }

// .container-modal{
//     display: flex;
//     font-size: 50px;
// }
.button-margin{
    margin: 20px 0;
}

// .container-dialog{
//     // font-size: 30px;
//     // font-family: initial;
//     border-color: #0078d4;
// }
.ms-Button{
    // border-color:#0078d4;
    border: solid 2px #0078d4;;
}

// #Dialog19-subText{
//     font-size: 30px;
//     font-family: initial;
// }
// #Dialog29-subText{
//     font-size: 30px;
//     font-family: initial;
// }
// #Dialog45-subText{
//     font-size: 30px;
//     font-family: initial;
// }
.ms-Dialog-subText{
    font-size: 30px;
    font-family: initial;
    color: black;
}